html {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(202, 246, 248);
    font-family: system-ui;
}

body {
    margin-top: 100px;
}

p {
    padding: 5%;
}

#cartão {
    width: 300px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.9);
    background-color: rgb(173, 241, 245);
    padding: 20px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0% auto;
    /* margin-top: 100px; */
}

h1 {
    color: #cc8105;
    text-shadow: 1px 1px rgb(255, 255, 255);

}

h2 {
    margin-top: 50px;
}

#message {
    height: 50%;
    width: 100%;
    padding: 15px;
}   

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svc {
    color: #cc8105;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 25px;
    /* margin-top:-5px; */
    width: 50px;
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    position: absolute;
}

.flag {
    position: absolute;
}

.flags {
    float: left;
    margin-right: 5px;
    clear: left;
    /* display: none; */
    position: relative;
    width: 45px;
    height: 30px;
    /* right: 0px; */
    top: 0px;
    left: 250px;
}

input {
    background-color: transparent;
    border: 0px;
    font-family: 'OCR A Extended', sans-serif;
    color: #cc8105;
    text-shadow: 1px 1px rgba(8, 8, 8, 0.993);

}

#nome {
    width: 199px;
    height: 20px;
    font-size: 20px;
    margin-top: 20px;
}

#validity {
    width: 70px;
    height: 22px;
    font-size: 20px;
}

#numero {
    width: 290px;
    height: 30px;
    font-size: 25px;
    margin-top: 70px;
}

.chip {
    position: relative;
    top: 50px;
    left: -16%;
}

img {
    width: 45px;
    height: 30px;
}

input:focus {
    outline: none;
}

.conteiner {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: rgb(157, 239, 243);
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;

    align-items: center;
}

#visa {
    display: none;
}

#master {
    display: none;
}

#elo {
    display: none;
}

#american {
    display: none;
}

#hipercard {
    display: none;
}

#btnReload {

border-radius: 5px;

margin-top: 30px;

padding: 15px;

background-color: #f0ae44;
}
#btnReload:hover {   
    background-color: #cc8105;
}